spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: main-service-route
          uri: lb://main-service
          predicates:
            - Path=/**

server:
  port: 8080